{% load static %}
{% block content %}
<html lang="en">
  <head>
    <title>Register page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="vh-100">
      <div class="container-fluid">
        <div class="row">
            <div
              class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" style="text-align: center">
              <form style="width: 23rem" action ="" method="post">
               {% csrf_token %}
                <div
                  class="form-outline mb-4" style="text-align: center; padding: 10px">
                  <label class="form-label">email: </label>
                  <input type="text"  placeholder="email" name="email" style=" padding: 8px; border: none; border-bottom: 2px solid grey;"
                    class="form-control form-control-lg"/>
                </div>

                <div
                  class="form-outline mb-4"
                  style="text-align: center; padding: 10px">
                  <label class="form-label" for="form2Example28">Password: </label>
                 <input type="password"  name="password" placeholder="password" style=" padding: 8px; border: none; border-bottom: 2px solid grey;"
                    class="form-control form-control-lg"/>
                </div>


                <div
                  class="pt-1 mb-4"
                  style="text-align: center; margin-top: 6%">
                  <input class="btn btn-info btn-lg btn-block"  type="submit" value="Login"> </input>
                  <a class="btn btn-info btn-lg btn-block" href="/reset_password">Reset Password</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}